.nav
{
    height: 60px;
    width: 100%;
    background-color: #2d2f31;
    display: flex;
}
.subject
{
    color: #fff;
    font-size: 15px;
    margin-top: 18px;
    margin-left: 10px;
}
.flexbox{
    display: flex;
    color: white;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 100px;
    cursor: pointer;
}
.name
{
    margin-top: 5px;
    margin-left: 10px;
}
.App 
{
    display: flex;
}
